<% @user ||= current_user %>
<div class="stats">
	<a href="<%= following_user_path(@user) %>">
		<strong id="following" class="stat">
			<%= @user.followed_users.count %>
		</strong>
		following
	</a>
	<a href="<%= followers_user_path(@user) %>">
		<strong id="followers" class="stat">
			<%= @user.followers.count %>
		</strong>
		followers
	</a>
	<a href="#">
		<strong id="microposts" class="stat">
			<%= current_user.microposts.count %>
		</strong>
		<% if current_user.microposts.count == 0 || current_user.microposts.count > 1 %>
			posts
		<% else %>
			post
		<% end %>
</div>